[submodule "vendor/ServerlessNabaztag"]
	path = vendor/ServerlessNabaztag
	url = https://github.com/uplg/ServerlessNabaztag.git
[submodule "vendor/nabgcc"]
	path = vendor/nabgcc
	url = https://github.com/uplg/nabgcc.git
	branch = wpa2
[submodule "vendor/mtl_linux"]
	path = vendor/mtl_linux
	url = https://github.com/RedoXyde/mtl_linux.git
